.gitattributes
clientshit.py
**/.env
.env
**/__pycache__/
Client Secret.txt
ngrok.yml
webhook.py
1st_place.txt
2nd_place.txt
3rd_place.txt
All_Viewers.txt
final_lurker.csv
lurker_race_info.jsonl
det.txt
viewer_final.py
practice.py
test_viewer.py
test.py
thelurker.console.exe
thelurker.exe
**/_init_.py/
_init_.py